In [1]:
" Import the libraries " 

import os
import sys 
import math
import copy

import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.neural_network import MLPClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [2]:
" Import the scripts of SD for Explaining "

absFilePath = os.path.dirname(os.path.dirname(os.getcwd()))
newPath = os.path.join(absFilePath, 'SplitSD4X')
sys.path.append(newPath)

from fill_missing_values import *
from missing_values_table import *
from neighbors_generation import *
from patterns_extraction import *
from performances import *
from subgroups_discovery import *
from sp_lime import *

### Data Preparation

In [3]:
"Loading and preparing data"
datasets_path = os.path.join(os.path.dirname(os.path.dirname(os.getcwd())), 'Datasets\\')
url = datasets_path + 'data_adult_income.csv'
df = pd.read_csv(url)
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
" Handling some data "

df.replace('?', np.nan, inplace=True)
df = df.dropna()
df = df.drop(['capital-gain','capital-loss','native-country'],axis =1)
df['age'] = df['age'].astype(float)
df['fnlwgt'] = df['fnlwgt'].astype(float)
df['educational-num'] = df['educational-num'].astype(float)
df['hours-per-week'] = df['hours-per-week'].astype(float)
df['income'] = df['income'].map({ "<=50K": 1, ">50K": 2 })

In [5]:
data_df = df.drop(columns=['income'])
target_df = df['income']

In [6]:
categorical_feature_mask = (data_df.dtypes == object)
categorical_cols_names = data_df.columns[categorical_feature_mask].tolist()
numerical_cols_names = data_df.columns[~categorical_feature_mask].tolist()

In [7]:
data_df = pd.concat([data_df[numerical_cols_names], data_df[categorical_cols_names]],axis = 1)
data_df.head()

,age,fnlwgt,educational-num,hours-per-week,workclass,education,marital-status,occupation,relationship,race,gender
0,25.0,226802.0,7.0,40.0,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male
1,38.0,89814.0,9.0,50.0,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male
2,28.0,336951.0,12.0,40.0,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male
3,44.0,160323.0,10.0,40.0,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male
5,34.0,198693.0,6.0,30.0,Private,10th,Never-married,Other-service,Not-in-family,White,Male

In [8]:
data_target_df = pd.concat([data_df, target_df], axis=1)

In [9]:
" generate the Test SET "
a = False 
b = False
c = False
d = False 
e = False
f = False
g = False

while (not a or not b or not c or not d or not e or not f or not g ) : 

    nb_test_instances = 1000 
    test_df = data_target_df.sample(n=nb_test_instances)
    data_test_df = test_df.drop(columns=['income'])
    target_test_df = test_df['income']


    a = (data_df['workclass'].unique().size == data_test_df['workclass'].unique().size)
    b = (data_df['education'].unique().size == data_test_df['education'].unique().size)
    c = (data_df['marital-status'].unique().size == data_test_df['marital-status'].unique().size)
    d = (data_df['occupation'].unique().size == data_test_df['occupation'].unique().size)
    e = (data_df['relationship'].unique().size == data_test_df['relationship'].unique().size)
    f = (data_df['race'].unique().size == data_test_df['race'].unique().size)
    g = (data_df['gender'].unique().size == data_test_df['gender'].unique().size)

data_test_df.head()

,age,fnlwgt,educational-num,hours-per-week,workclass,education,marital-status,occupation,relationship,race,gender
13471,23.0,39551.0,12.0,12.0,Private,Assoc-acdm,Never-married,Sales,Own-child,White,Female
33969,47.0,103020.0,4.0,40.0,Private,7th-8th,Married-civ-spouse,Machine-op-inspct,Wife,Other,Female
38310,23.0,139012.0,11.0,40.0,Private,Assoc-voc,Never-married,Transport-moving,Own-child,Asian-Pac-Islander,Male
44991,22.0,141028.0,9.0,30.0,Private,HS-grad,Never-married,Other-service,Own-child,Black,Male
14830,49.0,340755.0,14.0,40.0,Self-emp-not-inc,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male

In [10]:
" generate the Training SET "
train_df = pd.concat([data_target_df,test_df]).drop_duplicates(keep=False)
data_train_df = train_df.drop(columns=['income'])
target_train_df = train_df['income']
data_train_df.head()

,age,fnlwgt,educational-num,hours-per-week,workclass,education,marital-status,occupation,relationship,race,gender
0,25.0,226802.0,7.0,40.0,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male
1,38.0,89814.0,9.0,50.0,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male
2,28.0,336951.0,12.0,40.0,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male
3,44.0,160323.0,10.0,40.0,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male
5,34.0,198693.0,6.0,30.0,Private,10th,Never-married,Other-service,Not-in-family,White,Male

In [11]:
" Decode Categorical Features "
workclass_mapper = {
    0 : 'Private',
    1 : 'Local-gov',
    2 : 'Self-emp-not-inc',
    3 : 'Federal-gov',
    4 : 'State-gov',
    5 : 'Self-emp-inc',
    6 : 'Without-pay'
}
workclass_mapper_inv = dict(map(reversed, workclass_mapper.items()))

'------------------------------------------------------------------------'

education_mapper = {
    0 : '11th', 1 : 'HS-grad', 2 : 'Assoc-acdm', 3 : 'Some-college',
    4 : '10th', 5 : 'Prof-school', 6 : '7th-8th', 7 : 'Bachelors', 
    8 : 'Masters' , 9 : '5th-6th', 10 : 'Assoc-voc', 11 : '9th' ,
    12 : 'Doctorate', 13 : '12th', 14 : '1st-4th', 15 : 'Preschool'
}
education_mapper_inv = dict(map(reversed, education_mapper.items()))

'------------------------------------------------------------------------'

maritalStatus_mapper = {
    0 : 'Never-married', 1 : 'Married-civ-spouse', 2 : 'Widowed', 
    3 : 'Separated',4 : 'Divorced', 5 : 'Married-spouse-absent', 
    6 : 'Married-AF-spouse'
}
maritalStatus_mapper_inv = dict(map(reversed, maritalStatus_mapper.items()))

'------------------------------------------------------------------------'

occupation_mapper = {
    0 : 'Machine-op-inspct', 1 : 'Farming-fishing', 2 : 'Protective-serv', 3 : 'Other-service',
    4 : 'Prof-specialty', 5 : 'Craft-repair', 6 : 'Adm-clerical', 7 : 'Exec-managerial', 
    8 : 'Tech-support' , 9 : 'Sales', 10 : 'Priv-house-serv', 11 : 'Transport-moving' ,
    12 : 'Handlers-cleaners', 13 : 'Armed-Forces'
}
occupation_mapper_inv = dict(map(reversed, occupation_mapper.items()))

'------------------------------------------------------------------------'

relationship_mapper = {
    0 : 'Own-child', 1 : 'Husband', 2 : 'Not-in-family', 
    3 : 'Unmarried', 4 : 'Wife', 5 : 'Other-relative'
}
relationship_mapper_inv = dict(map(reversed, relationship_mapper.items()))

'------------------------------------------------------------------------'

race_mapper = {
    0 : 'Black', 1 : 'White', 2 : 'Other', 
    3 : 'Amer-Indian-Eskimo', 4 : 'Asian-Pac-Islander'
}
race_mapper_inv = dict(map(reversed, race_mapper.items()))

'------------------------------------------------------------------------'
gender_mapper = {
    0 : 'Male', 1 : 'Female'
}
gender_mapper_inv = dict(map(reversed, gender_mapper.items()))

In [12]:
data_test_df_copy = data_test_df.copy()

In [13]:
data_test_df_copy['workclass'] = data_test_df_copy['workclass'].replace(workclass_mapper_inv)
data_test_df_copy['education'] = data_test_df_copy['education'].replace(education_mapper_inv)
data_test_df_copy['marital-status'] = data_test_df_copy['marital-status'].replace(maritalStatus_mapper_inv)
data_test_df_copy['occupation'] = data_test_df_copy['occupation'].replace(occupation_mapper_inv)
data_test_df_copy['relationship'] = data_test_df_copy['relationship'].replace(relationship_mapper_inv)
data_test_df_copy['race'] = data_test_df_copy['race'].replace(race_mapper_inv)
data_test_df_copy['gender'] = data_test_df_copy['gender'].replace(gender_mapper_inv)
data_test_df_copy.head()

,age,fnlwgt,educational-num,hours-per-week,workclass,education,marital-status,occupation,relationship,race,gender
13471,23.0,39551.0,12.0,12.0,0,2,0,9,0,1,1
33969,47.0,103020.0,4.0,40.0,0,6,1,0,4,2,1
38310,23.0,139012.0,11.0,40.0,0,10,0,11,0,4,0
44991,22.0,141028.0,9.0,30.0,0,1,0,3,0,0,0
14830,49.0,340755.0,14.0,40.0,2,8,1,7,1,1,0

In [14]:
data_test_copy = data_test_df_copy.values
numerical_cols = np.arange(0,len(numerical_cols_names)) 
categorical_cols = np.arange(len(numerical_cols_names),data_df.shape[1])

## Neighbors Generation

In [15]:
# generate neighbors : 
nb_neighbors = 50
list_neigh = generate_all_neighbors(data_test_copy,numerical_cols,categorical_cols,nb_neighbors)

In [16]:
" store all the neighbors together "
n = np.size(data_test_copy,0)
all_neighbors = list_neigh[0]
for i in range(1,n) :
    all_neighbors = np.concatenate((all_neighbors, list_neigh[i]), axis=0)

### One hot encoding

In [17]:
df_neigh = pd.DataFrame(data = all_neighbors,columns= numerical_cols_names + categorical_cols_names)
df_neigh[categorical_cols_names] = df_neigh[categorical_cols_names].astype(int,errors='ignore')

" Decode all the data neighbors to perform one hot encoding "

df_neigh['workclass'] = df_neigh['workclass'].replace(workclass_mapper)
df_neigh['education'] = df_neigh['education'].replace(education_mapper)
df_neigh['marital-status'] = df_neigh['marital-status'].replace(maritalStatus_mapper)
df_neigh['occupation'] = df_neigh['occupation'].replace(occupation_mapper)
df_neigh['relationship'] = df_neigh['relationship'].replace(relationship_mapper)
df_neigh['race'] = df_neigh['race'].replace(race_mapper)
df_neigh['gender'] = df_neigh['gender'].replace(gender_mapper)

In [18]:
" One hot encoding "
df_neigh = pd.get_dummies(df_neigh, prefix_sep='_', drop_first=True)
df_neigh.head()

,age,fnlwgt,educational-num,hours-per-week,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,...,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender_Male
0,21.822362,23673.568824,12.566528,13.061515,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,1
1,23.125444,44901.575241,11.820970,13.875390,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,22.702125,64941.747443,11.990287,12.540356,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
3,25.494887,54006.638258,12.144477,14.444780,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
4,22.932401,36988.576943,11.742537,11.915675,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [19]:
" Scale the neighbors data "
data_neigh = df_neigh.values

scaler_neigh = StandardScaler()
data_neigh_s = scaler_neigh.fit_transform(data_neigh)

" Store the neighbors in a list "
n = np.size(data_test_copy,0)
list_neigh = []
j = 0
for i in range(0,n):
    list_neigh.append(data_neigh_s[j:(j+nb_neighbors),:])
    j += nb_neighbors

####  One hot encoding for the training and the test sets

In [20]:
data_train_df = pd.get_dummies(data_train_df, prefix_sep='_', drop_first=True)
data_train_df.head()

,age,fnlwgt,educational-num,hours-per-week,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,...,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender_Male
0,25.0,226802.0,7.0,40.0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1
1,38.0,89814.0,9.0,50.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,28.0,336951.0,12.0,40.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,44.0,160323.0,10.0,40.0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
5,34.0,198693.0,6.0,30.0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1

In [21]:
data_train = data_train_df.values
target_train = target_train_df.values

In [22]:
data_test_df = pd.get_dummies(data_test_df, prefix_sep='_', drop_first=True)
data_test_df.head()

,age,fnlwgt,educational-num,hours-per-week,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,...,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender_Male
13471,23.0,39551.0,12.0,12.0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
33969,47.0,103020.0,4.0,40.0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
38310,23.0,139012.0,11.0,40.0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
44991,22.0,141028.0,9.0,30.0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1
14830,49.0,340755.0,14.0,40.0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,1

In [23]:
data_test = data_test_df.values
target_test = target_test_df.values

In [24]:
" Scale the training and the test sets data"
scaler_train = StandardScaler()
data_train_s = scaler_train.fit_transform(data_train)

scaler_test = StandardScaler()
data_test_s = scaler_test.fit_transform(data_test)

In [25]:
" Define the functions to save and load data "
import pickle
def save_obj(obj, name):
    with open(name + '.pkl', 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

def load_obj(name):
    with open(name + '.pkl', 'rb') as f:
        return pickle.load(f)

In [26]:
'SAVE THE DATA'

path = './saved_data/'
save_obj(data_train_s, path + 'data_train_s')
save_obj(target_train, path + 'target_train')
save_obj(data_test, path  + 'data_test')
save_obj(data_test_s, path  + 'data_test_s')
save_obj(target_test, path + 'target_test')
save_obj(list_neigh, path + 'list_neighbors')

## Training the models

In [27]:
" Logistic Regression : "
lr = LogisticRegression(class_weight = "balanced",random_state=0,max_iter = 1000)
model_lr = lr.fit(data_train_s,target_train)
target_pred_lr = model_lr.predict(data_test_s)

In [40]:
" Random Forest : "
rdclassifier = RandomForestClassifier(max_depth=8, random_state=0) 
model_rd = rdclassifier.fit(data_train_s,target_train)
target_pred_rd = model_rd.predict(data_test_s)

In [29]:
" SVM : "
clf = svm.SVC(probability=True,decision_function_shape='ovr')
model_svm = clf.fit(data_train_s, target_train)
target_pred_svm = model_svm.predict(data_test_s)

In [30]:
" MLP Classifier : "
mlp = MLPClassifier(activation='logistic',hidden_layer_sizes=(50,50), max_iter=5000,
                    solver='sgd', random_state=1,alpha=0.1,
                    learning_rate_init=.1)
model_nt = mlp.fit(data_train_s, target_train)
target_pred_mlp = model_nt.predict(data_test_s)

## Scores of the black box models

In [41]:
print(f"{'The score of the logistic regression model is ' :<50}{': {}'.format(round(f1_score(target_test,target_pred_lr),4))}")
print(f"{'The score of the Random Forest  model is ' :<50}{': {}'.format(round(f1_score(target_test,target_pred_rd),4))}")
print(f"{'The score of the SVM model is ' :<50}{': {}'.format(round(f1_score(target_test,target_pred_svm),4))}")
print(f"{'The score of the Multi-Layer-Perceptron model is ' :<50}{': {}'.format(round(f1_score(target_test,target_pred_mlp),4))}")

The score of the logistic regression model is     : 0.8488
The score of the Random Forest  model is          : 0.8871
The score of the SVM model is                     : 0.8793
The score of the Multi-Layer-Perceptron model is  : 0.8882

## Execution of Split Based Selection Form Algorithm :

In [32]:
split_point = len(numerical_cols)
nb_models = 100
(L_Subgroups,P) = SplitBasedSelectionForm (data_test_s, target_test, nb_models, model_nt, list_neigh,split_point,2)

In [33]:
'SAVE THE LIST OF THE SUBGROUPS'
save_obj(L_Subgroups, path + 'list_subgroups')

### Define patterns

In [34]:
att_names = data_test_df.columns
data_test_means = scaler_test.mean_
data_test_stds = np.sqrt(scaler_test.var_)
patt_descriptions = patterns_sc(P,split_point,data_test_s,att_names,data_test_means,data_test_stds)

subrgoup 0
31.6 < age <= 90.0
7.0 < educational-num <= 10.4
32.3 < hours-per-week <= 35.3
marital-status_Married-civ-spouse = 1
-------------------------------------------------------------------
subrgoup 1
17.0 < age <= 31.6
12.3 < educational-num <= 16.0
55.6 < hours-per-week <= 99.0
-------------------------------------------------------------------
subrgoup 2
31.6 < age <= 90.0
7.0 < educational-num <= 10.4
1.0 < hours-per-week <= 24.2
marital-status_Married-civ-spouse = 0
-------------------------------------------------------------------
subrgoup 3
31.6 < age <= 49.0
13.0 < educational-num <= 16.0
48.6 < hours-per-week <= 59.8
-------------------------------------------------------------------
subrgoup 4
31.6 < age <= 41.0
7.0 < educational-num <= 9.6
48.6 < hours-per-week <= 99.0
-------------------------------------------------------------------
subrgoup 5
31.6 < age <= 90.0
10.4 < educational-num <= 16.0
1.0 < hours-per-week <= 24.8
-------------------------------------------------------------------
subrgoup 6
25.4 < age <= 31.6
1.0 < educational-num <= 11.5
42.4 < hours-per-week <= 99.0
marital-status_Married-civ-spouse = 0
-------------------------------------------------------------------
subrgoup 7
44.3 < age <= 90.0
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
20333.0 < fnlwgt <= 154008.6
marital-status_Never-married = 1
-------------------------------------------------------------------
subrgoup 8
49.0 < age <= 90.0
13.0 < educational-num <= 16.0
48.6 < hours-per-week <= 99.0
-------------------------------------------------------------------
subrgoup 9
31.6 < age <= 90.0
5.2 < educational-num <= 7.0
marital-status_Married-civ-spouse = 1
1.0 < hours-per-week <= 47.2
-------------------------------------------------------------------
subrgoup 10
31.6 < age <= 90.0
1.0 < educational-num <= 5.2
marital-status_Married-civ-spouse = 1
1.0 < hours-per-week <= 47.2
-------------------------------------------------------------------
subrgoup 11
25.4 < age <= 29.5
10.1 < educational-num <= 11.5
1.0 < hours-per-week <= 42.4
-------------------------------------------------------------------
subrgoup 12
17.0 < age <= 31.6
11.5 < educational-num <= 16.0
30.0 < hours-per-week <= 36.7
-------------------------------------------------------------------
subrgoup 13
17.0 < age <= 31.6
11.5 < educational-num <= 16.0
1.0 < hours-per-week <= 30.0
-------------------------------------------------------------------
subrgoup 14
17.0 < age <= 25.4
1.0 < educational-num <= 11.5
36.4 < hours-per-week <= 42.0
-------------------------------------------------------------------
subrgoup 15
17.0 < age <= 25.4
1.0 < educational-num <= 11.5
1.0 < hours-per-week <= 36.4
-------------------------------------------------------------------
subrgoup 16
31.6 < age <= 41.2
9.6 < educational-num <= 12.4
40.3 < hours-per-week <= 48.6
20333.0 < fnlwgt <= 163024.1
-------------------------------------------------------------------
subrgoup 17
38.0 < age <= 49.0
9.6 < educational-num <= 16.0
59.8 < hours-per-week <= 99.0
-------------------------------------------------------------------
subrgoup 18
31.6 < age <= 38.0
9.6 < educational-num <= 16.0
59.8 < hours-per-week <= 99.0
-------------------------------------------------------------------
subrgoup 19
31.6 < age <= 90.0
10.4 < educational-num <= 16.0
24.8 < hours-per-week <= 35.3
workclass_Private = 1
-------------------------------------------------------------------
subrgoup 20
25.4 < age <= 31.6
1.0 < educational-num <= 10.0
1.0 < hours-per-week <= 42.4
marital-status_Married-civ-spouse = 0
race_White = 1
-------------------------------------------------------------------
subrgoup 21
25.4 < age <= 31.6
1.0 < educational-num <= 10.0
1.0 < hours-per-week <= 42.4
marital-status_Married-civ-spouse = 0
race_White = 0
-------------------------------------------------------------------
subrgoup 22
34.7 < age <= 41.2
12.4 < educational-num <= 16.0
35.3 < hours-per-week <= 48.6
-------------------------------------------------------------------
subrgoup 23
31.6 < age <= 34.7
12.4 < educational-num <= 16.0
35.3 < hours-per-week <= 48.6
-------------------------------------------------------------------
subrgoup 24
17.0 < age <= 31.6
11.5 < educational-num <= 12.3
46.0 < hours-per-week <= 99.0
-------------------------------------------------------------------
subrgoup 25
17.0 < age <= 31.6
11.5 < educational-num <= 12.3
36.7 < hours-per-week <= 46.0
-------------------------------------------------------------------
subrgoup 26
49.0 < age <= 90.0
9.6 < educational-num <= 13.0
48.6 < hours-per-week <= 99.0
204903.0 < fnlwgt <= 698363.0
-------------------------------------------------------------------
subrgoup 27
49.0 < age <= 90.0
9.6 < educational-num <= 13.0
48.6 < hours-per-week <= 99.0
20333.0 < fnlwgt <= 204903.0
-------------------------------------------------------------------
subrgoup 28
41.2 < age <= 60.0
9.6 < educational-num <= 12.4
35.3 < hours-per-week <= 48.6
gender_Male = 1
20333.0 < fnlwgt <= 99370.0
-------------------------------------------------------------------
subrgoup 29
31.6 < age <= 90.0
9.1 < educational-num <= 10.4
24.2 < hours-per-week <= 35.3
marital-status_Married-civ-spouse = 0
-------------------------------------------------------------------
subrgoup 30
17.0 < age <= 26.0
12.3 < educational-num <= 16.0
36.7 < hours-per-week <= 55.6
relationship_Not-in-family = 1
-------------------------------------------------------------------
subrgoup 31
36.5 < age <= 41.2
9.6 < educational-num <= 12.4
35.3 < hours-per-week <= 48.6
163024.1 < fnlwgt <= 698363.0
marital-status_Married-civ-spouse = 1
-------------------------------------------------------------------
subrgoup 32
25.4 < age <= 31.6
1.0 < educational-num <= 10.0
1.0 < hours-per-week <= 42.4
marital-status_Married-civ-spouse = 1
264218.0 < fnlwgt <= 698363.0
-------------------------------------------------------------------
subrgoup 33
25.4 < age <= 31.6
1.0 < educational-num <= 10.0
1.0 < hours-per-week <= 42.4
marital-status_Married-civ-spouse = 1
20333.0 < fnlwgt <= 264218.0
-------------------------------------------------------------------
subrgoup 34
31.6 < age <= 41.2
9.6 < educational-num <= 10.2
35.3 < hours-per-week <= 40.3
20333.0 < fnlwgt <= 163024.1
-------------------------------------------------------------------
subrgoup 35
40.0 < age <= 49.0
9.6 < educational-num <= 13.0
48.6 < hours-per-week <= 59.8
-------------------------------------------------------------------
subrgoup 36
31.6 < age <= 40.0
9.6 < educational-num <= 13.0
48.6 < hours-per-week <= 59.8
-------------------------------------------------------------------
subrgoup 37
60.0 < age <= 90.0
14.2 < educational-num <= 16.0
35.3 < hours-per-week <= 48.6
-------------------------------------------------------------------
subrgoup 38
60.0 < age <= 90.0
9.6 < educational-num <= 14.2
35.3 < hours-per-week <= 48.6
-------------------------------------------------------------------
subrgoup 39
26.0 < age <= 31.6
12.3 < educational-num <= 16.0
36.7 < hours-per-week <= 55.6
168342.4 < fnlwgt <= 698363.0
-------------------------------------------------------------------
subrgoup 40
26.0 < age <= 31.6
12.3 < educational-num <= 16.0
36.7 < hours-per-week <= 55.6
20333.0 < fnlwgt <= 168342.4
-------------------------------------------------------------------
subrgoup 41
44.3 < age <= 47.0
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
154008.6 < fnlwgt <= 698363.0
-------------------------------------------------------------------
subrgoup 42
55.8 < age <= 90.0
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
243019.4 < fnlwgt <= 698363.0
-------------------------------------------------------------------
subrgoup 43
55.8 < age <= 90.0
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
154008.6 < fnlwgt <= 243019.4
-------------------------------------------------------------------
subrgoup 44
46.4 < age <= 90.0
7.0 < educational-num <= 9.1
1.0 < hours-per-week <= 32.3
marital-status_Married-civ-spouse = 1
-------------------------------------------------------------------
subrgoup 45
31.6 < age <= 46.4
7.0 < educational-num <= 9.1
1.0 < hours-per-week <= 32.3
marital-status_Married-civ-spouse = 1
-------------------------------------------------------------------
subrgoup 46
31.6 < age <= 90.0
9.1 < educational-num <= 10.4
1.0 < hours-per-week <= 32.3
marital-status_Married-civ-spouse = 1
110995.4 < fnlwgt <= 698363.0
-------------------------------------------------------------------
subrgoup 47
31.6 < age <= 90.0
9.1 < educational-num <= 10.4
1.0 < hours-per-week <= 32.3
marital-status_Married-civ-spouse = 1
20333.0 < fnlwgt <= 110995.4
-------------------------------------------------------------------
subrgoup 48
45.2 < age <= 60.0
12.4 < educational-num <= 16.0
35.3 < hours-per-week <= 48.6
education_Bachelors = 0
-------------------------------------------------------------------
subrgoup 49
41.2 < age <= 45.2
12.4 < educational-num <= 16.0
35.3 < hours-per-week <= 48.6
education_Bachelors = 0
-------------------------------------------------------------------
subrgoup 50
58.0 < age <= 90.0
7.0 < educational-num <= 9.6
48.6 < hours-per-week <= 99.0
-------------------------------------------------------------------
subrgoup 51
49.4 < age <= 58.0
7.0 < educational-num <= 9.6
48.6 < hours-per-week <= 99.0
-------------------------------------------------------------------
subrgoup 52
17.0 < age <= 25.4
9.2 < educational-num <= 11.5
42.0 < hours-per-week <= 99.0
-------------------------------------------------------------------
subrgoup 53
17.0 < age <= 25.4
1.0 < educational-num <= 9.2
42.0 < hours-per-week <= 99.0
-------------------------------------------------------------------
subrgoup 54
29.5 < age <= 31.6
10.0 < educational-num <= 11.5
1.0 < hours-per-week <= 42.4
147361.6 < fnlwgt <= 698363.0
-------------------------------------------------------------------
subrgoup 55
29.5 < age <= 31.6
10.0 < educational-num <= 11.5
1.0 < hours-per-week <= 42.4
20333.0 < fnlwgt <= 147361.6
-------------------------------------------------------------------
subrgoup 56
25.4 < age <= 29.5
10.0 < educational-num <= 10.1
39.8 < hours-per-week <= 42.4
-------------------------------------------------------------------
subrgoup 57
25.4 < age <= 29.5
10.0 < educational-num <= 10.1
1.0 < hours-per-week <= 39.8
-------------------------------------------------------------------
subrgoup 58
31.6 < age <= 35.6
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
123388.0 < fnlwgt <= 291545.0
-------------------------------------------------------------------
subrgoup 59
31.6 < age <= 35.6
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
20333.0 < fnlwgt <= 123388.0
-------------------------------------------------------------------
subrgoup 60
44.3 < age <= 90.0
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
89671.0 < fnlwgt <= 154008.6
marital-status_Never-married = 0
-------------------------------------------------------------------
subrgoup 61
44.3 < age <= 90.0
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
20333.0 < fnlwgt <= 89671.0
marital-status_Never-married = 0
-------------------------------------------------------------------
subrgoup 62
41.2 < age <= 60.0
9.6 < educational-num <= 12.4
35.3 < hours-per-week <= 48.6
gender_Male = 0
20333.0 < fnlwgt <= 175398.0
-------------------------------------------------------------------
subrgoup 63
45.6 < age <= 60.0
9.6 < educational-num <= 12.4
35.3 < hours-per-week <= 48.6
gender_Male = 0
175398.0 < fnlwgt <= 698363.0
-------------------------------------------------------------------
subrgoup 64
41.2 < age <= 45.6
9.6 < educational-num <= 12.4
35.3 < hours-per-week <= 48.6
gender_Male = 0
175398.0 < fnlwgt <= 698363.0
-------------------------------------------------------------------
subrgoup 65
31.6 < age <= 44.3
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
312121.4 < fnlwgt <= 378646.2
-------------------------------------------------------------------
subrgoup 66
31.6 < age <= 44.3
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
291545.0 < fnlwgt <= 312121.4
-------------------------------------------------------------------
subrgoup 67
41.0 < age <= 49.4
7.0 < educational-num <= 9.6
48.6 < hours-per-week <= 99.0
relationship_Not-in-family = 1
-------------------------------------------------------------------
subrgoup 68
41.0 < age <= 49.4
7.0 < educational-num <= 9.6
48.6 < hours-per-week <= 99.0
relationship_Not-in-family = 0
-------------------------------------------------------------------
subrgoup 69
25.4 < age <= 31.6
9.0 < educational-num <= 11.5
42.4 < hours-per-week <= 99.0
marital-status_Married-civ-spouse = 1
-------------------------------------------------------------------
subrgoup 70
25.4 < age <= 31.6
1.0 < educational-num <= 9.0
42.4 < hours-per-week <= 99.0
marital-status_Married-civ-spouse = 1
-------------------------------------------------------------------
subrgoup 71
31.6 < age <= 90.0
7.0 < educational-num <= 9.1
24.2 < hours-per-week <= 35.3
marital-status_Married-civ-spouse = 0
occupation_Exec-managerial = 1
-------------------------------------------------------------------
subrgoup 72
31.6 < age <= 90.0
7.0 < educational-num <= 9.1
24.2 < hours-per-week <= 35.3
marital-status_Married-civ-spouse = 0
occupation_Exec-managerial = 0
-------------------------------------------------------------------
subrgoup 73
36.5 < age <= 41.2
9.6 < educational-num <= 12.4
40.4 < hours-per-week <= 48.6
163024.1 < fnlwgt <= 698363.0
marital-status_Married-civ-spouse = 0
-------------------------------------------------------------------
subrgoup 74
36.5 < age <= 41.2
9.6 < educational-num <= 12.4
35.3 < hours-per-week <= 40.4
163024.1 < fnlwgt <= 698363.0
marital-status_Married-civ-spouse = 0
-------------------------------------------------------------------
subrgoup 75
35.6 < age <= 44.3
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
179046.2 < fnlwgt <= 291545.0
-------------------------------------------------------------------
subrgoup 76
35.6 < age <= 44.3
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
100798.4 < fnlwgt <= 179046.2
-------------------------------------------------------------------
subrgoup 77
31.6 < age <= 90.0
10.4 < educational-num <= 16.0
24.8 < hours-per-week <= 35.3
workclass_Private = 0
education_Bachelors = 1
-------------------------------------------------------------------
subrgoup 78
31.6 < age <= 90.0
10.4 < educational-num <= 16.0
24.8 < hours-per-week <= 35.3
workclass_Private = 0
education_Bachelors = 0
-------------------------------------------------------------------
subrgoup 79
31.6 < age <= 90.0
1.0 < educational-num <= 7.0
marital-status_Married-civ-spouse = 0
occupation_Farming-fishing = 0
-------------------------------------------------------------------
subrgoup 80
31.6 < age <= 90.0
1.0 < educational-num <= 7.0
marital-status_Married-civ-spouse = 0
occupation_Farming-fishing = 0
-------------------------------------------------------------------
subrgoup 81
47.0 < age <= 55.8
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
154008.6 < fnlwgt <= 698363.0
gender_Male = 1
-------------------------------------------------------------------
subrgoup 82
47.0 < age <= 55.8
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
154008.6 < fnlwgt <= 698363.0
gender_Male = 0
-------------------------------------------------------------------
subrgoup 83
33.6 < age <= 44.3
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
378646.2 < fnlwgt <= 698363.0
-------------------------------------------------------------------
subrgoup 84
31.6 < age <= 33.6
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
378646.2 < fnlwgt <= 698363.0
-------------------------------------------------------------------
subrgoup 85
39.2 < age <= 44.3
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
20333.0 < fnlwgt <= 100798.4
-------------------------------------------------------------------
subrgoup 86
35.6 < age <= 39.2
7.0 < educational-num <= 9.6
35.3 < hours-per-week <= 48.6
20333.0 < fnlwgt <= 100798.4
-------------------------------------------------------------------
subrgoup 87
47.1 < age <= 60.0
12.4 < educational-num <= 16.0
35.3 < hours-per-week <= 48.6
education_Bachelors = 1
-------------------------------------------------------------------
subrgoup 88
41.2 < age <= 47.1
12.4 < educational-num <= 16.0
35.3 < hours-per-week <= 48.6
education_Bachelors = 1
-------------------------------------------------------------------
subrgoup 89
31.6 < age <= 41.2
10.2 < educational-num <= 12.4
35.3 < hours-per-week <= 40.3
20333.0 < fnlwgt <= 163024.1
occupation_Craft-repair = 0
-------------------------------------------------------------------
subrgoup 90
31.6 < age <= 41.2
10.2 < educational-num <= 12.4
35.3 < hours-per-week <= 40.3
20333.0 < fnlwgt <= 163024.1
occupation_Craft-repair = 0
-------------------------------------------------------------------
subrgoup 91
31.6 < age <= 90.0
1.0 < educational-num <= 7.0
marital-status_Married-civ-spouse = 1
47.2 < hours-per-week <= 99.0
workclass_Private = 1
-------------------------------------------------------------------
subrgoup 92
31.6 < age <= 90.0
1.0 < educational-num <= 7.0
marital-status_Married-civ-spouse = 1
47.2 < hours-per-week <= 99.0
workclass_Private = 0
-------------------------------------------------------------------
subrgoup 93
41.2 < age <= 48.4
9.6 < educational-num <= 12.4
35.3 < hours-per-week <= 48.6
gender_Male = 1
99370.0 < fnlwgt <= 698363.0
-------------------------------------------------------------------
subrgoup 94
31.6 < age <= 36.5
9.6 < educational-num <= 12.4
35.3 < hours-per-week <= 48.6
233910.4 < fnlwgt <= 698363.0
-------------------------------------------------------------------
subrgoup 95
31.6 < age <= 36.5
9.6 < educational-num <= 12.4
35.3 < hours-per-week <= 48.6
163024.1 < fnlwgt <= 233910.4
-------------------------------------------------------------------
subrgoup 96
48.4 < age <= 60.0
10.2 < educational-num <= 12.4
35.3 < hours-per-week <= 48.6
gender_Male = 1
99370.0 < fnlwgt <= 698363.0
-------------------------------------------------------------------
subrgoup 97
48.4 < age <= 60.0
9.6 < educational-num <= 10.2
35.3 < hours-per-week <= 48.6
gender_Male = 1
99370.0 < fnlwgt <= 698363.0
-------------------------------------------------------------------
subrgoup 98
17.0 < age <= 26.0
12.3 < educational-num <= 16.0
36.7 < hours-per-week <= 55.6
relationship_Not-in-family = 0
relationship_Own-child = 1
-------------------------------------------------------------------
subrgoup 99
17.0 < age <= 26.0
12.3 < educational-num <= 16.0
36.7 < hours-per-week <= 55.6
relationship_Not-in-family = 0
relationship_Own-child = 0
-------------------------------------------------------------------

In [35]:
'SAVE THE SUBGROUPS PATTERNS'
save_obj(patt_descriptions, path + 'patterns')
save_obj(att_names, path + 'att_names')